@model Section
@{
    ViewData["Title"] = "Edit";
}
<div class="body-form">
    <div class="container-fluid px-1 py-1 mx-auto">
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://images.pexels.com/photos/1887609/pexels-photo-1887609.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        height: 300px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                   <h2 class="fw-bold mb-5">Update a section</h2>
                    <form class="form-card" method="post" enctype="multipart/form-data">
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Title<span class="text-danger"> *</span></label> <input asp-for="Name" id="fname" placeholder="Insert Message Title Here"><span asp-validation-for="Name" class="text-danger"></span> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Picture Section <span class="text-danger"> *</span></label> <input asp-for="clientFile" type="file" id="lname"><span asp-validation-for="clientFile" class="text-danger"></span> </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">Enter Your Description  <span class="text-danger"> *</span></label> <input asp-for="Description" type="text" id="ans" placeholder="Add Description Here...."><span asp-validation-for="Description" class="text-danger"></span> </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="form-group col-sm-6  buttonForm "> <button type="submit" class="btn-block btn-primary">Update Section</button> <a asp-action="Index" asp-controller="Sections" class="btn-block btn-danger back">Go To Back</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    </div>
</div>

