@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

   <div class="jumbotron">
          <h1 class="display-4">Hello, world!</h1>
           <partial name="_StatusMessage" model="Model.StatusMessage" />
            <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
